
.container{
    margin-top:1em;
    margin-left:1em;
    overflow:hidden;
}
.app{
    position:relative;
    width:100%;
    overflow-x:hidden;
    /* box-sizing:border-box; */
    background:rgb(12, 60, 104);
    color:white;
    height:100vh;
}
.add-project{
    background:white;
    width:1000px;
    margin:0 auto;
    padding:1em;
    color:black;
    margin-top:-1em;
    margin-bottom:4em;
}
.addbug{
  color:black;
   padding:0;
   padding-bottom:2em;
   padding-top:1em;
}
.buglist,.projectslist{
    background:white;
}
.projectslist{
    margin-top:-2em;
}
.header{
    background:rgb(74, 162, 245);
    /* background:#0779E4; */
    height:60%;
    border:.3px black solid;
    margin:0;
    padding:0;
    margin-bottom:4em;
    margin-top:0;
    
}
 .list-menu li a{
text-decoration:none;
color:white;
padding:.3em 1em;
border:.5px solid black;
margin:.4em;
border-radius:20px;

} 
li{
list-style: none;
}
.list-menu{
    position:relative;
    /* padding:0; */
    display:flex;
    justify-content:center;
    margin-top:2em;
   /* border:2px solid black; */
   text-align:center;
} 
.buggy{
    position:absolute;
    top:-.3em;
    left:1em;
    font-size:1.6em;
    /* border:1px solid black; */
}
.project-editor{
    background:white;
    padding:1em;
    margin:0 auto;
    width:800px;
}
.project-editor > h1{
    font-size:1em;
    border:.6px solid black;
    width:140px;
    color:black;
    /* background:lightblue; */
    margin-bottom:2em;
    border-radius:10px;
    padding:.2em .4em;
    text-align:center;
}
/* .alert{
    position:fixed;
    right:-40em;
    top:-1em;
   
} */
.alert-position{
    color:green;
    font-weight:bold;
    font-size:1.1em;
    position:absolute;
    top:90%;
   right:.8em;
    width:360px;
    height:90px;

}

.company-projects{
background:rgb(201, 199, 199);
color:black;
padding:1.4em;
padding-left:.7em;
border:1px solid black;
font-weight:bold;
font-size:1.1em;
}

.buglist-anchor, .project-row:hover{
    cursor:pointer;
}

.about{
    width:800px;
    margin:0 auto;
    background:white;
    color:black;
    padding:1em;
}
.add-project-button{
position:absolute;
right:0;
border:black solid 2px;
text-decoration:none;
border:.7px solid rgb(12, 60, 104);
padding:.1em .6em;
border-radius:7px;
background:white;
font-size:.9em;
width:110px;

}
.add-project-button:hover{
    cursor:pointer;
}
.account-button{
    position:absolute;
    right:1em;
    margin-top:-2.5em;
}
.account-button a{
    color:black;
    font-size:1.1em;
}
.login{
    background:white;
    width:500px;
    height:300px;
    margin:0 auto;
    padding:1em;
    color:black;
}
.register{
    margin:0 auto;
    width:800px;
    padding:1.3em;
    color:black;
    background:white;
}